.bc-anker{
    color: rgb(15, 165, 15);
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}
.wish-para{
    font-family: sans-serif;
    color: #5f5d5d;
    font-size: 14px;
    font-weight: bold;
}