.bc-anker {
    color: rgb(15, 165, 15);
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}

.wish-para {
    font-family: sans-serif;
    color: #5f5d5d;
    font-size: 14px;
    font-weight: bold;
}

.table-main {
    margin-bottom: 120px;
}

.table-image {
    width: 60px;
}

.table-h6 {
    margin-bottom: -5px;
    margin-top: 5px;
    font-family: sans-serif;
    font-weight: bold;
}

.table-status {
    margin-top: 20px;
}

.table-button {
    margin-top: 15px;
    padding: 5px 5px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    background-color: #00B02A;
    border: none;
}

.table-button-dark {
    margin-top: 15px;
    padding: 5px 5px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    border: none;
}

.table-icon {
    margin-top: 20px !important;

}

.table-p {
    margin-bottom: -5px;
    margin-top: -10px;
    font-family: sans-serif;
    font-size: 14px;

}

.table-price {
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;

}


@media screen and (max-width:375px) {
    .table-main {
        margin-bottom: 120px;
        overflow-x:scroll;
        width: 100%;
    }
    
}