.banner-1{
    background-image: url('https://freshcart.codescandy.com/assets/images/banner/grocery-banner.png');
    background-repeat: no-repeat;
    width: 50%;
    background-size: cover;
    height: 40vh;
    padding: 40px;
    border-radius: 2%;
}
.banner-1 h3{
    font-family: sans-serif;
    font-weight: 700;
}
.banner-2{
    background-image: url('https://freshcart.codescandy.com/assets/images/banner/grocery-banner-2.jpg');
    background-repeat: no-repeat;
    width: 50%;
    background-size: cover;
    height: 40vh;
    padding: 40px;
    border-radius: 2%;

}
.banner-2 h3{
    font-family: sans-serif;
    font-weight: 700;
}