.bsales-icons{
    border-radius: 50%;
    
}
.bsales-h1{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 24.5px;

}
.bsales-banner{
    background-image: url('https://freshcart.codescandy.com/assets/images/banner/banner-deal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-position: 100%;
    border-radius: 10px;
    width: 25%;
    padding: 35px 25px;
}
.bsales-banner h1{
    font-size: 24.5px;
    font-family: sans-serif;
    font-weight: 700;
}
.bsales-banner p{
    font-family: sans-serif;
    font-weight: 500;
    margin-top: 15px;
}
.banner-button{
    background-color: #6ad314;
    border: none;
font-family: sans-serif;
font-size: 14px;
padding: 9px 8px;
margin-top: 40px;
}
.bsales-one{
    width: 25%;
    border: 1px solid #d4cece;
    border-radius: 10px;
    transition: box-shadow 0.3s;

}
.bsales-one:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
border: 1px solid green;
border-radius: 10px;
cursor: pointer;
}
.bsales-text{
    padding: 20px;

}
.bsales-text p{
    font-size: 12.25px;
    font-family: sans-serif;
    color: #757575;

}
.bsales-text h6{
    font-size: 14px;
    font-family: sans-serif;
    font-weight:bold;
}
.bs-mini img{
height: 220px;
width: 200px;
}

.star-icon{
    color: yellow;
}
.star-icon-main{
    margin-left: 130px;
    margin-right: 10px;
    display: flex;
    
}
.line-price{
    text-decoration: line-through;
    color: #757575;
    margin-left: 5px;
}
.bsales-button{
    background-color: #6ad314;
    width: 270px;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    font-family: sans-serif;
    color: white;
    font-size: 14px;
    transition: box-shadow 0.3s;

}
.bsales-button:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
border-radius: 10px;
cursor: pointer;
}
.bsales-times{
    width: 25%;
    border: 1px solid #d4cece;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: box-shadow 0.3s;

}
.bsales-times:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);

border-radius: 10px;
cursor: pointer;
}

.bsales-times p{
font-family: sans-serif;
font-size: 14px;
margin-bottom: 0px;
}
.bsales-times h6{
    font-family: sans-serif;
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: bold;
    }


    @media screen and (max-width:375px) {
        .bsales-banner{
            background-image: url('https://freshcart.codescandy.com/assets/images/banner/banner-deal.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 70vh;
            background-position: 100%;
            border-radius: 10px;
            width: 100%;
            padding: 35px 25px;
            margin-bottom: 15px;
        }
        .bsales-button{
            background-color: #6ad314;
            width: 100%;
            border: none;
            border-radius: 10px;
            padding: 8px 16px;
            font-family: sans-serif;
            color: white;
            font-size: 14px;
            transition: box-shadow 0.3s;
        
        }
        
        .bsales-one{
            width: 100%;
            border: 1px solid #d4cece;
            border-radius: 10px;
            transition: box-shadow 0.3s;
            margin-bottom: 15px;
        
        }
    }
    @media screen and (min-width:376px) and (max-width:425px) {
        .bsales-banner{
            background-image: url('https://freshcart.codescandy.com/assets/images/banner/banner-deal.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 70vh;
            background-position: 100%;
            border-radius: 10px;
            width: 100%;
            padding: 35px 25px;
            margin-bottom: 15px;
        }
        .bsales-button{
            background-color: #6ad314;
            width: 100%;
            border: none;
            border-radius: 10px;
            padding: 8px 16px;
            font-family: sans-serif;
            color: white;
            font-size: 14px;
            transition: box-shadow 0.3s;
        
        }
        
        .bsales-one{
            width: 100%;
            border: 1px solid #d4cece;
            border-radius: 10px;
            transition: box-shadow 0.3s;
            margin-bottom: 15px;
        
        }
    }

    @media screen and (min-width:426px) and (max-width:768px) {
        .bsales-main{
            display: flex;
            flex-direction: column;
        }

        .bsales-icons{
            border-radius: 50%;
            
        }
        .bsales-h1{
            font-family: sans-serif;
            font-weight: 600;
            font-size: 24.5px;
        
        }
        .bsales-banner{
            background-image: url('https://freshcart.codescandy.com/assets/images/banner/banner-deal.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 70vh;
            background-position: 100%;
            border-radius: 10px;
            width: 100%;
            padding: 35px 25px;
        }
        .bsales-banner h1{
            font-size: 24.5px;
            font-family: sans-serif;
            font-weight: 700;
        }
        .bsales-banner p{
            font-family: sans-serif;
            font-weight: 500;
            margin-top: 15px;
        }
        .banner-button{
            background-color: #6ad314;
            border: none;
        font-family: sans-serif;
        font-size: 14px;
        padding: 9px 8px;
        margin-top: 40px;
        }
        .bsales-one{
            width: 100%;
            border: 1px solid #d4cece;
            border-radius: 10px;
            transition: box-shadow 0.3s;
        
        }
        .bsales-one:hover{
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
        border: 1px solid green;
        border-radius: 10px;
        cursor: pointer;
        }
        .bsales-text{
            padding: 20px;
        
        }
        .bsales-text p{
            font-size: 12.25px;
            font-family: sans-serif;
            color: #757575;
        
        }
        .bsales-text h6{
            font-size: 14px;
            font-family: sans-serif;
            font-weight:bold;
        }
        .bs-mini img{
        height: 220px;
        width: 200px;
        }
        
        .star-icon{
            color: yellow;
        }
        .star-icon-main{
            margin-left: 100px;
            margin-right: 10px;
            display: flex;
            
        }
        .line-price{
            text-decoration: line-through;
            color: #757575;
            margin-left: 5px;
        }
        .bsales-button{
            background-color: #6ad314;
            width: 240px;
            border: none;
            border-radius: 10px;
            padding: 8px 16px;
            font-family: sans-serif;
            color: white;
            font-size: 14px;
            transition: box-shadow 0.3s;
        
        }
        .bsales-button:hover{
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
        border-radius: 10px;
        cursor: pointer;
        }
        .bsales-times{
            width: 25%;
            border: 1px solid #d4cece;
            border-radius: 10px;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            transition: box-shadow 0.3s;
        
        }
        .bsales-times:hover{
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
        
        border-radius: 10px;
        cursor: pointer;
        }
        
        .bsales-times p{
        font-family: sans-serif;
        font-size: 14px;
        margin-bottom: 0px;
        }
        .bsales-times h6{
            font-family: sans-serif;
            font-size: 14px;
            margin-bottom: 0px;
            font-weight: bold;
            }
    }
    @media screen and (min-width:769px) and (max-width:1024px) {
        .bsales-main{
            overflow-x: scroll;
        }

        .bsales-icons{
            border-radius: 50%;
            
        }
        .bsales-h1{
            font-family: sans-serif;
            font-weight: 600;
            font-size: 24.5px;
        
        }
        .bsales-banner{
            background-image: url('https://freshcart.codescandy.com/assets/images/banner/banner-deal.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 70vh;
            background-position: 100%;
            border-radius: 10px;
            width: 40%;
            padding: 35px 25px;
        }
        .bsales-banner h1{
            font-size: 24.5px;
            font-family: sans-serif;
            font-weight: 700;
        }
        .bsales-banner p{
            font-family: sans-serif;
            font-weight: 500;
            margin-top: 15px;
        }
        .banner-button{
            background-color: #6ad314;
            border: none;
        font-family: sans-serif;
        font-size: 14px;
        padding: 9px 8px;
        margin-top: 40px;
        }
        .bsales-one{
            width: 40%;
            border: 1px solid #d4cece;
            border-radius: 10px;
            transition: box-shadow 0.3s;
        
        }
        .bsales-one:hover{
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
        border: 1px solid green;
        border-radius: 10px;
        cursor: pointer;
        }
        .bsales-text{
            padding: 20px;
        
        }
        .bsales-text p{
            font-size: 12.25px;
            font-family: sans-serif;
            color: #757575;
        
        }
        .bsales-text h6{
            font-size: 14px;
            font-family: sans-serif;
            font-weight:bold;
        }
        .bs-mini img{
        height: 220px;
        width: 200px;
        }
        
        .star-icon{
            color: yellow;
        }
        .star-icon-main{
            margin-left: 100px;
            margin-right: 10px;
            display: flex;
            
        }
        .line-price{
            text-decoration: line-through;
            color: #757575;
            margin-left: 5px;
        }
        .bsales-button{
            background-color: #6ad314;
            width: 240px;
            border: none;
            border-radius: 10px;
            padding: 8px 16px;
            font-family: sans-serif;
            color: white;
            font-size: 14px;
            transition: box-shadow 0.3s;
        
        }
        .bsales-button:hover{
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
        border-radius: 10px;
        cursor: pointer;
        }
        .bsales-times{
            width: 25%;
            border: 1px solid #d4cece;
            border-radius: 10px;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            transition: box-shadow 0.3s;
        
        }
        .bsales-times:hover{
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
        
        border-radius: 10px;
        cursor: pointer;
        }
        
        .bsales-times p{
        font-family: sans-serif;
        font-size: 14px;
        margin-bottom: 0px;
        }
        .bsales-times h6{
            font-family: sans-serif;
            font-size: 14px;
            margin-bottom: 0px;
            font-weight: bold;
            }
    }