.items-main{
    width: 200px;
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items:center ;
    border: 1px solid rgb(182, 176, 176);
    border-radius: 5%;
    transition: box-shadow 0.3s;
}
.items-main img{
    width: 60%;
    margin-bottom: 15px;
}
.items-main-1two{
    width: 32%;
}
.items-main-2two{
    width: 64%;
}
.items-main h4{
    color: rgb(131, 127, 127) ;
    font-family: sans-serif;
    font-size: 14px;
}
.items-main:hover{
    border: 1px solid greenyellow;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width:375px) {
    .items-main{
        width: 48%;
        margin-right: 2px;
        margin-bottom: 12px;
    }
    
}


@media screen and (min-width:376px) and (max-width:425px) {
    .items-main{
        width: 48%;
        margin-right: 2px;
        margin-bottom: 12px;
    }
    
}